{{!
    This file is part of the mod_coursecertificate plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursecertificate/automaticsend_alert

    Template for showing the automatic send alert.

    Example context (json):
    {
        "certificateid": "1",
        "automaticsend": true
    }
}}
{{> coursecertificate/loading}}
{{#automaticsend}}
<div class="alert alert-success p-3 clearfix">
    <div class="p-2 float-left">{{#str}} automaticsendenabled, coursecertificate {{/str}}
        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="{{#str}} automaticsendenabled_help, coursecertificate {{/str}}" data-html="true" tabindex="0" data-trigger="focus">
            {{#pix}} a/help, core,  {{#str}} automaticsend_helptitle, coursecertificate {{/str}}{{/pix}}
        </a>
    </div>
    <button class="btn btn-light float-right" data-certificateid="{{certificateid}}" data-automaticsend="1" data-action="toggle-automaticsend">
            {{#str}} disable {{/str}}
    </button>
</div>
{{/automaticsend}}
{{^automaticsend}}
<div class="alert alert-secondary p-3 clearfix">
    <div class="p-2 float-left">{{#str}} automaticsenddisabled, coursecertificate {{/str}}
        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="{{#str}} automaticsenddisabled_help, coursecertificate {{/str}}" data-html="true" tabindex="0" data-trigger="focus">
            {{#pix}} a/help, core,  {{#str}} automaticsend_helptitle, coursecertificate {{/str}}{{/pix}}
        </a>
    </div>
    <button class="btn btn-light float-right" data-certificateid="{{certificateid}}" data-automaticsend="0" data-action="toggle-automaticsend">
        {{#str}} enable {{/str}}
    </button>
</div>
{{/automaticsend}}
