{{!
    This file is part of the mod_coursecertificate plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_coursecertificate/loading

    Template for showing the loading overlay.

    Example context (json):
    {
    }
}}
<div class="loading-overlay d-flex position-absolute text-center w-100 h-100 justify-content-center align-items-center invisible"
        style="z-index: 9999; background-color: rgba(255,255,255,0.5);">
    {{> core/loading }}
</div>